@import "~enlighterjs/dist/enlighterjs.dracula.min.css";

.card {
  transition: all ease-in-out 2s;
  /*:hover {
    .card-header {

    }
    .card-body {
    }
    .card-footer {
    }
  }*/
}

.enlighter-default {
  overflow:hidden;
}

div.enlighter-default,div.enlighter-t-dracula {
  .enlighter-toolbar {
      .enlighter-btn.enlighter-btn-raw {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg version='1.1' id='Ebene_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 46 46' enable-background='new 0 0 46 46' xml:space='preserve'%3e%3cg%3e%3cpath d='M19.436,36.875L6.568,25.002v-3.863L19.436,9.267v5.041l-9.583,8.668v0.188l9.583,8.669V36.875z'/%3e%3cpath d='M26.343,36.875v-5.041l9.583-8.669v-0.188l-9.583-8.668V9.267l12.868,11.872v3.863L26.343,36.875z'/%3e%3c/g%3e%3c/svg%3e");
      }
      .enlighter-btn.enlighter-btn-copy {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg version='1.1' id='Ebene_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 46 46' enable-background='new 0 0 46 46' xml:space='preserve'%3e%3cline fill='none' stroke='%23000000' stroke-width='4' stroke-miterlimit='10' x1='53.75' y1='39.353' x2='86.375' y2='39.353'/%3e%3cline fill='none' stroke='%23000000' stroke-width='4' stroke-miterlimit='10' x1='51.711' y1='30.534' x2='84.336' y2='30.534'/%3e%3crect x='8.932' y='7.334' fill='%23555555' stroke='%23000000' stroke-width='3' stroke-miterlimit='10' width='21.097' height='24.952'/%3e%3crect x='18.942' y='15.424' fill='%23555555' stroke='%23000000' stroke-width='3' stroke-miterlimit='10' width='21.096' height='24.953'/%3e%3c/svg%3e");
        }
      .enlighter-btn.enlighter-btn-window {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg version='1.1' id='Ebene_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 46 46' enable-background='new 0 0 46 46' xml:space='preserve'%3e%3cline fill='none' stroke='%23000000' stroke-width='4' stroke-miterlimit='10' x1='7.125' y1='9.25' x2='39.75' y2='9.25'/%3e%3cline fill='none' stroke='%23000000' stroke-width='4' stroke-miterlimit='10' x1='7.125' y1='18.167' x2='39.75' y2='18.167'/%3e%3cline fill='none' stroke='%23000000' stroke-width='4' stroke-miterlimit='10' x1='7.125' y1='27.083' x2='39.75' y2='27.083'/%3e%3cline fill='none' stroke='%23000000' stroke-width='4' stroke-miterlimit='10' x1='7.125' y1='36' x2='29.809' y2='36'/%3e%3c/svg%3e");
      }
      .enlighter-btn::after{
        content:""!important;
        display:none!important;
      }
      .enlighter-btn.enlighter-btn-website {
        display:none;
      }
      .enlighter-btn {
        width:16px;
        height:16px;
        background-position:center;
        background-repeat:no-repeat;
      }
  }
}
