
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
//slide-in animation
$hamburgerHeight: 40vh;

@include media-breakpoint-up(md) {

    .navbar.navbar-expand-md .navbar-collapse{
      max-height: $hamburgerHeight !important;
      opacity:100 !important;
      //display:block !important;
    }

    .navbar:not(.navbar-expand-md) .navbar-collapse:not(.show){
      max-height:0;
      opacity:0;
    }
}

@include media-breakpoint-up(lg) {
  .navbar.navbar-expand-lg .navbar-collapse{
    max-height: $hamburgerHeight !important;
    opacity:100 !important;
    //display:block !important;
  }

  .navbar:not(.navbar-expand-lg) .navbar-collapse:not(.show){
    max-height:0;
    opacity:0;
  }
}

.navbar.navbar-expand-sm .navbar-collapse{
  max-height: $hamburgerHeight;
  display:block;
  opacity:100;
}

.navbar:not(.navbar-expand-sm) .navbar-collapse:not(.show){
  max-height:0;
  opacity:0;
}

.navbar-collapse.collapse:not(.show){
  display:block;
  max-height:0;
}
.navbar-collapse{
    transition: all ease-in 1s;
    max-height:$hamburgerHeight;
    height:auto;
    overflow:hidden;
}


//icon animation
.icon-bar {
	width: 25px;
	height: 3px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: translate(3px) rotate(45deg);
  transform-origin: 10% 10%;

}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform:translate(3px) rotate(-45deg);
  transform-origin: 10% 90%;


}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
