@import "~bootstrap/scss/bootstrap";

$slideshow-height: 70vh;
$max-body-width:  map-get($grid-breakpoints, lg);
html,
body {
  height:100%;
}

  h1, .navbar-brand {
    font-size: 2.5em;
  }
  .navbar,
  .navbar-brand {
    text-shadow: 2px 2px 4px #000;
  }

  .navbar-dark .navbar-nav .nav-link {
    color:rgba(255, 255, 255, 0.7)
  }

  h2 {
    font-size: 2.1em;
  }

  h3, .card-heading {
    font-size: 1.8em;
  }

  body {
    margin: 0;
    font-size: 62.5%;
    padding: 0;
    background-color: $light;
    font-family: sans-serif;
  }

  p {
    font-size:1.4em;
  }

  .nav-item {
    font-size: 1.4em;
  }
  //reset the font-size for card-text in case of nested P's.
  .card-text p{
    font-size:1em;
    span {
      font-family:sans-serif;
    }
  }

  .nav-divider {
    width: 25em;
  }

  .navbar-brand {
    margin-right: 3rem;
  }
  .navbar-app-logo {
    transform: rotate(-30deg);
    height: 10em;
    margin-bottom: 0.5em;
    margin-left:0.5em;
    margin-right:0.5em;
    margin-top:0em;
  }

  .app-header {
    background-color: $secondary;
    background-repeat: repeat-x;
    background-image: url("./images/background/blue-waves.svg");
    padding: 20px;
    color: white;
  }

   .body-content{
     display:flex;
     justify-content: center;
     margin:2em;
   }

  .tab {
    display:flex;
    flex-direction: column;
    max-width:100%;
  }


  .photostream{
    position:relative;
    margin: -2em;
  }

@include media-breakpoint-up(md){
  .tab{
    flex:0 0 100%;
    max-width:$max-body-width;
    &.tab__photos {
      max-width:100%;
    }
  }

}

@include media-breakpoint-down(sm) {
  .nav-right {
    border-top: 1px solid $secondary;
    max-width: 15em;
  }
  .navbar-nav.nav-left {
    margin-top:2em;
  }
  .navbar-brand {
    display: none;
  }

}
